<body id="page-top">
  <app-header></app-header>
  <br /><br />
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- <app-side-menu></app-side-menu> -->

    <div
      id="content-wrapper"
      class="d-flex flex-column"
      style="margin-top: 110px"
    >
      <!-- Main Content -->
      <div id="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
</body>
